#popup {
	text-align: center;
	font-family: Arial, sans-serif;
	padding: 5px;
	border-radius: 4px;
	width: 200px;
}
#popup .title {
	font-weight: bold;
}

#popup .button {
	background-color: #C4302B;
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 4px;
	transition: background 0.1s;
}

#popup .button:hover {
	background: rgba(196, 48, 43, 0.8);
}

#darkBackground {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	display: block;
	opacity: 0.5;
	text-align: center;
	box-sizing: border-box;
	z-index: 999999;
	border-color: black;
	border-style: solid;
}

#selectedArea,
#selectedArea:before,
#selectedArea:after {
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
	content: "";
}

#selectedArea {
	position: fixed;
	z-index: 2147483648;
}

#selectedArea:before {
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	left: -100%;
	top: -100%;
}

#selectedArea:after {
	border-top: 1px solid white;
	border-left: 1px solid white;
	left: 0;
	top: 0;
}

#overlayBox {
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 9999;
	box-shadow: 0 0 10px rgba(0,0,0,1);
	background: white;
	border-radius: 10px;
	padding: 15px;
	max-width: 1000px;
	max-height: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#overlayBox #closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	border-radius: 50%;
	color: black;
	width: 30px;
	height: 30px;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
	cursor: pointer;
}

#overlayBox #closeButton:hover {
	color: dimgray;
}

#buttonContainer {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 100%;
	width: 100%;
}

#buttonContainer button {
	align-self: auto;
	font-size: 15px;
	font-weight: bolder;
	color: white;
	cursor: pointer;
	margin: 5px;
	padding: 10px 15px;
	border: none;
	border-radius: 2px;
	transition: background 0.1s;
}

#ocrButton {
	background: #00bd5f;
}

#ocrButton:hover {
	background: #008f45;
}

#saveButton {
	background: #C4302B;
}

#saveButton:hover {
	background: rgba(196, 48, 43, 0.8);
}

#overlayBox #contentBox {
	display: flex;
	align-items: center;
}

#overlayBox #imageContent {
	max-width: 65%;
	margin-right: 20px;
}

#overlayBox #textContent {
	min-width: 200px;
	border: 1px solid #000000;
	padding: 10px;
	flex-grow: 1;
	overflow: auto;
}

.success-message {
	display: none;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #28a745;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 1000;
}

#loadingIndicator {
	display: none;
	border: 5px solid #f3f3f3;
	border-top: 5px solid #ff0000;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999999;
}

@keyframes spin {
	0% { transform: translate(-50%, -50%) rotate(0deg); }
	100% { transform: translate(-50%, -50%) rotate(360deg); }
}

#bottomMessage {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	/*background-color: #28a745;*/
	/*color: white;*/
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 999999;
}