#popup {
	text-align: center;
	font-family: Arial, sans-serif;
	padding: 5px;
	border-radius: 4px;
}
#popup .title {
	font-weight: bold;
}

#overlayBox {
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 2147483647;
	box-shadow: 0 0 10px rgba(0,0,0,1);
	background: white;
	border-radius: 10px;
	padding: 10px;
	max-width: 1000px;
}

#overlayBox #closeButton {
	position: absolute;
	right: 10px;
	top: 10px;
	background: none;
	border: none;
	font-size: 15px;
	font-weight: bolder;
	cursor: pointer;
}

#overlayBox #message {
	color: black;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 5px;
	margin-left: 5px;
}

#popup .button {
	background-color: #C4302B;
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 4px;
}

#darkBackground {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	display: block;
	opacity: 0.5;
	text-align: center;
	box-sizing: border-box;
	z-index: 99999;
	border-color: black;
	border-style: solid;
}

#selectedArea,
#selectedArea:before,
#selectedArea:after {
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
	content: "";
}

#selectedArea {
	position: fixed;
	z-index: 2147483648;
	border: 10px dashed red;
}

#selectedArea:before {
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	left: -100%;
	top: -100%;
}

#selectedArea:after {
	border-top: 1px solid white;
	border-left: 1px solid white;
	left: 0;
	top: 0;
}